.sa_addons_icon_boxes_container_style_5 {
    display: flex;
    width: 100%;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 10px 10px 10px
}

.sa_addons_icon_boxes_style_5 {
    width: 100%;
    float: left;
    position: relative;
    background: rgba(255, 255, 255, 1.00);
    border-radius: 5px 5px 5px 5px;
    border-width: 4px 4px 4px 4px;
    border-style: double;
    border-color: #7619a8;
    padding: 20px 10px 20px 10px;
    box-shadow: 0px 23px 33px 0px rgba(0, 0, 0, 0.06)
}

.sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_icon {
    width: 100%;
    position: absolute;
    top: -40px;
    left: 0;
    height: 80px;
    text-align: center;
    padding: 0 10px 0 10px
}

.sa_addons_icon_boxes_style_5 .sa_icons_body {
    transform: rotate(45deg);
    width: 80px;
    height: 80px;
    background: rgba(118, 25, 168, 1.00);
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ffffff;
    text-align: center;
}

.sa_addons_icon_boxes_style_5 .oxi-icons {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
}

.sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_headding {
    width: 100%;
    float: left;
    color: #000000;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 45px 5px 5px 5px
}

.sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_content {
    width: 100%;
    float: left;
    color: #6b6b6b;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 10px 10px 10px 10px
}

@media only screen and (min-width:669px) and (max-width:993px) {
    .sa_addons_icon_boxes_container_style_5 {
        max-width: 300px;
        padding: 40px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_5 {
        border-radius: 5px 5px 5px 5px;
        border-width: 4px 4px 4px 4px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_icon {
        top: -25px;
        left: 0;
        height: 50px;
        padding: 0 10px 0 10px
    }
    .sa_addons_icon_boxes_style_5 .sa_icons_body {
        width: 50px;
        height: 50px;
        border-radius: 10px 10px 10px 10px;
        border-width: 1px 1px 1px 1px
    }
    .sa_addons_icon_boxes_style_5 .oxi-icons {
        font-size: 35px;
        line-height: 50px
    }
    .sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_headding {
        font-size: 22px;
        padding: 10px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_content {
        font-size: 16px;
        padding: 10px 10px 10px 10px
    }
}

@media only screen and (max-width:668px) {
    .sa_addons_icon_boxes_container_style_5 {
        max-width: 300px;
        padding: 40px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_5 {
        border-radius: 5px 5px 5px 5px;
        border-width: 4px 4px 4px 4px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_icon {
        top: -17.5px;
        left: 0;
        height: 35px;
        padding: 0 10px 0 10px
    }
    .sa_addons_icon_boxes_style_5 .sa_icons_body {
        width: 35px;
        height: 35px;
        border-radius: 10px 10px 10px 10px;
        border-width: 1px 1px 1px 1px
    }
    .sa_addons_icon_boxes_style_5 .oxi-icons {
        font-size: 35px;
        line-height: 35px
    }
    .sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_headding {
        font-size: 22px;
        padding: 10px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_5 .sa_addons_icon_boxes_content {
        font-size: 16px;
        padding: 10px 10px 10px 10px
    }
}