.sa_addons_icon_boxes_container_style_1 {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px
}

.sa_addons_icon_boxes_style_1 {
    width: 100%;
    float: left;
    background: rgba(15, 140, 189, 1.00);
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #fd3387;
    padding: 20px 10px 20px 10px;
    box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.58)
}

.sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_icon {
    width: 100%;
    float: left;
    text-align: center
}

.sa_addons_icon_boxes_style_1 .oxi-icons {
    display: inline-block;
    color: #ffffff;
    font-size: 50px;
    padding: 5px 5px 5px 5px
}

.sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_headding {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_content {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 5px 5px 5px 5px
}

@media only screen and (min-width:669px) and (max-width:993px) {
    .sa_addons_icon_boxes_container_style_1 {
        max-width: 300px;
        padding: 10px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_1 {
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_1 .oxi-icons {
        font-size: 50px;
        padding: 5px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_headding {
        font-size: 20px;
        padding: 5px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_content {
        font-size: 15px;
        padding: 5px 5px 5px 5px
    }
}

@media only screen and (max-width:668px) {
    .sa_addons_icon_boxes_container_style_1 {
        max-width: 300px;
        padding: 10px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_1 {
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_1 .oxi-icons {
        font-size: 50px;
        padding: 5px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_headding {
        font-size: 20px;
        padding: 5px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_1 .sa_addons_icon_boxes_content {
        font-size: 15px;
        padding: 5px 5px 5px 5px
    }
}