.sa_addons_icon_boxes_container_style_3 {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px
}

.sa_addons_icon_boxes_style_3 {
    width: 100%;
    float: left;
    background: #08848A;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #fd3387;
    padding: 20px 10px 20px 10px;
    box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.58)
}

.sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_icon {
    width: 100%;
    float: left;
    text-align: center
}

.sa_addons_icon_boxes_style_3 .oxi-icons {
    width: 70px;
    height: 70px;
    line-height: 58px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    border-style: double;
    border-width: 6px 6px 6px 6px;
    border-color: #ffffff;
    border-radius: 70px 70px 70px 70px;
}

.sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_headding {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_content {
    width: 100%;
    float: left;
    color: #f5f5f5;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 5px 5px 5px 5px
}

@media only screen and (min-width:669px) and (max-width:993px) {
    .sa_addons_icon_boxes_container_style_3 {
        max-width: 300px;
        padding: 10px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_3 {
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_3 .oxi-icons {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        border-radius: 2px 2px 2px 2px;
        border-width: 0px 0px 0px 0px
    }
    .sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_headding {
        font-size: 20px;
        padding: 5px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_content {
        font-size: 15px;
        padding: 5px 5px 5px 5px
    }
}

@media only screen and (max-width:668px) {
    .sa_addons_icon_boxes_container_style_3 {
        max-width: 300px;
        padding: 10px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_3 {
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_3 .oxi-icons {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px
    }
    .sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_headding {
        font-size: 20px;
        padding: 5px 5px 5px 5px
    }
    .sa_addons_icon_boxes_style_3 .sa_addons_icon_boxes_content {
        font-size: 15px;
        padding: 5px 5px 5px 5px
    }
}