.sa_addons_icon_boxes_container_style_2 {
    display: flex;
    width: 100%;
    position: relative;
    max-width: 275px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px
}

.sa_addons_icon_boxes_style_2 {
    width: 100%;
    float: left;
    background: linear-gradient(45deg, rgba(255, 41, 41, 1) 2%, rgba(240, 188, 0, 0.84) 100%);
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #fd3387;
    padding: 0px 10px 20px 10px;
    box-shadow: 0px 5px 17px 0px rgba(163, 163, 163, 1)
}

.sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_icon {
    width: 100%;
    float: left;
    text-align: center
}

.sa_addons_icon_boxes_style_2 .oxi-icons {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: rgba(255, 255, 255, 1.00);
    display: inline-block;
    text-align: center;
    color: #f77c18;
    font-size: 30px;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff
}

.sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_headding {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    text-align: left;
    padding: 10px 10px 10px 5px
}

.sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_content {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    text-align: left;
    padding: 5px 11px 5px 5px
}

@media only screen and (min-width:669px) and (max-width:993px) {
    .sa_addons_icon_boxes_container_style_2 {
        max-width: 275px;
        padding: 10px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_2 {
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_2 .oxi-icons {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        border-radius: 2px 2px 2px 2px;
        border-width: 0px 0px 0px 0px
    }
    .sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_headding {
        font-size: 22px;
        padding: 10px 10px 10px 5px
    }
    .sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_content {
        font-size: 14px;
        padding: 5px 11px 5px 5px
    }
}

@media only screen and (max-width:668px) {
    .sa_addons_icon_boxes_container_style_2 {
        max-width: 275px;
        padding: 10px 10px 10px 10px
    }
    .sa_addons_icon_boxes_style_2 {
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        padding: 20px 10px 20px 10px
    }
    .sa_addons_icon_boxes_style_2 .oxi-icons {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px
    }
    .sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_headding {
        font-size: 22px;
        padding: 10px 10px 10px 5px
    }
    .sa_addons_icon_boxes_style_2 .sa_addons_icon_boxes_content {
        font-size: 14px;
        padding: 5px 11px 5px 5px
    }
}